*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.falso-body{
     height: 100vh;
    display: grid;
    grid-template-rows:0.5fr 2fr 1fr 0.5fr ;
    grid-template-areas: "header header header"
    "main main section" 
    "section-2 section-dos section"
    "footer footer footer";
    gap: 10px;
}
header{
    background-color: pink;
    grid-area: header;
    }
    main{
    background-color: rgb(246, 156, 171);
    grid-area: main;
    }
    section{
        background-color: rgb(234, 122, 141);
        grid-area: section;
    }
    .section-dos{
        background-color: rgb(234, 122, );
    }
    footer{
        background-color: purple;
    }
