/*reseteo de css*/

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins:ital,wght@0,400;0,500;0,600;0,800;1,500&family=Righteous&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --card-height: 35vh;
  --card-width: calc(var(--card-height) / 1.5);
}
/*cambiar la configuracion de la raiz*/
html{
  font-size: 62,5%;

}
/*1 rem==10px */

body {
font-family: 'Poppins', sans-serif;
height: 400%;
width: 90vw;
font-size: 1.5em;
color: #a4a4a4;
}

#gradient
{
width: 100vw;
height: 400%;
padding: 0px;
margin: 0px;
}








.hero {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 1rem 1rem 1rem ;
  box-shadow: 0 0.5rem 1rem rgba(53, 53, 53, 0.2);
  font-family: 'Poppins', sans-serif;
  z-index: 1000;
  overflow: hidden;
  transition: all ease .55s;
  backdrop-filter: blur(10px); /* Agrega el efecto de desenfoque */
  -webkit-backdrop-filter: blur(10px); /* Para compatibilidad con navegadores webkit */
  /* Oculta cualquier contenido que desborde de .hero */
}

/* Aplica un filtro de desenfoque a los contenedores ocultos */
.hero.scrolled {
  padding: 5% 9%; /* Ajusta el padding cuando se desplaza hacia abajo */
  backdrop-filter: none; /* Desactiva el efecto de desenfoque */
  -webkit-backdrop-filter: none; /* Para compatibilidad con navegadores webkit */
}
.nabvar{
  background-color: transparent;
  
  width: 90%;
}
.navbar-nav{
align-items: center;
border: none;

}

.navbar-brand{
  
 display: none;
  

}
.navbar-brand:hover{
  color: #eeff00;
}
.nav-link{
  color: #000000;
  font-size: 1.2rem;
  transition: all ease .55s;
}
.nav-link:hover{
  align-items: center;
  color: #ff00f7;
  
}
.nabvar-toggler{
  margin-left: 7rem;
}

.container {
  margin: 50% 0;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.segundo-container{
  display: flex;
  flex-direction: column-reverse;
}
.col{
  top: 5rem;
}
.col-12{
  margin: 1rem 0rem 5rem 0rem ;
  font-size: 2rem;
  color: #000000;
  font-family: 'Righteous', cursive;
  
  text-align: center;
}
hr{
  color: #000000;
  border: solid 0.5rem rgb(0, 0, 0);
  align-content: center;
  width: 70%;
  margin-left: 15%;
  border-radius: 1rem 2rem;
}
.col-9{
  display: none;
}
.span-h1{
  align-items: center;
  color: #eeff00;
}
.c-img{
  margin-left: 4rem;
  margin-top: -8rem ;
  margin-bottom: 4rem ;
  
}

.img-code{
  width: 15rem;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 7rem;
  box-shadow:10px 10px 10px grey ;
  animation: shadowAnimation 10s infinite; 
 }
 /* styles.css */
@keyframes shadowAnimation {
  0% {
      box-shadow: 10px 10px 50px rgb(255, 0, 0);
  }
  25% {
      box-shadow: 10px 10px 50px rgb(92, 235, 92);
  }
  50% {
      box-shadow: 10px 10px 50px rgb(0, 187, 255);
  }
  75% {
      box-shadow: 10px 10px 50px rgb(255, 255, 0);
  }
  100% {
      box-shadow: 10px 10px 50px rgb(226, 3, 255);
  }
  /* Espacio entre la imagen y el texto */
}


.skills {
  position: absolute;
 
  top: 55rem;
 
}
.h2-s{
margin: 1rem;
font-size: .5rem;
}
.icons{
width: 22rem;
margin: 0 1rem;
height: 3.5rem ;
border-radius: 4rem 4rem 4rem 4rem;
display: flex;
flex-direction: row;
background-color: #ffffff;
box-shadow: 10px 10px 50px gray;
animation: shadowAnimation 10s infinite; 
}
.icons-img{
width: 3rem;
height: 3rem;
margin: 0.3rem 1.2rem;

}
@keyframes shadowAnimation {
0% {
    box-shadow: 10px 5px 100px rgb(183, 0, 255);
}
25% {
    box-shadow: 10px 10px 100px rgb(187, 187, 187);
}
50% {
    box-shadow: 10px 10px 100px rgb(221, 0, 255);
}
75% {
    box-shadow: 10px 10px 100px rgb(255, 0, 0);
}
100% {
    box-shadow: 10px 10px 100px rgb(226, 3, 255);
}
}
  
  

.about_me{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-top: -10rem;
  width: 90vw;
}

.about_me-img {
 padding: 0;
 margin: 0;
  top: 0;
   /* Espacio entre la imagen y el texto */
}


.about_me-img{
  margin-right: 0;
 
}
.presentacion-img {
  width: 80%;
  height: 10%; /* Cambia esta altura según tus necesidades */
  
  
}

.a-contain{
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.about_me-h1{
 top: 1rem;
 margin-bottom: 3rem;
 text-align: center;
 font-size: 2rem;
 color:  rgb(226, 3, 255);
 font-family: 'Poppins';
 font-weight: bold;
}
.about_me-h5{
  text-align: center;
  padding: 0 15%;
  margin: 1rem;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  font-weight:  bold;
}
.proyects{
  width: 100%;
}
.container-cards{
  margin: 0;
 }
  .primer-h3{
  
    margin-top:3rem;
    margin-bottom:0 ;
    margin-left:8rem ;
   
  }
  .h3-p{
    color: #dd00ff;
    font-weight: bold;
  }
  
 .card{
  margin: 1rem;
  width: 80%;
  padding: 4rem;
  border-radius: 1rem 1rem 1rem 1rem ;
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  animation: animation 10s infinite; 
 }
 @keyframes animation {
  0% {
      box-shadow: 10px 5px 30px rgb(183, 0, 255);
  }
  25% {
      box-shadow: 10px 10px 30px rgb(187, 187, 187);
  }
  50% {
      box-shadow: 10px 10px 30px rgb(221, 0, 255);
  }
  75% {
      box-shadow: 10px 10px 30px rgb(255, 0, 0);
  }
  100% {
      box-shadow: 10px 10px 30px rgb(226, 3, 255);
  }
}
 .left{
  padding: 5px;
 }
 .h3-p-2{
 color:#dd00ff;
 font-size: 35px ;
 font-weight: bold;
 }

 p{
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 40px;
 }
.c-h4{
  margin-left: 1rem ;
}
h4{
  font-weight: bold;
  color:#dd00ff
}
 .icons-img-p{
  width: 2.5rem;
  margin-left: -0.5rem;
 }


 .right{
 margin-left: 50px;
 
 }
 .container-img{
  padding-top: 10px;
  margin-right: 10rem;
 }
 .grupohydroimg{
  margin: 0 -9rem;
  width: 25rem;
 }

 .link-p{
  margin-left:-3rem;
  padding: 50px 50px;
 }
 .link-img{
  margin-left: .5rem;
  width: 2rem;
 }
 .link-img-github{
  background-color: black;
  border-radius: 50px;
  width: 2rem;
  margin-left:1rem;
 }







                       

.contact {
  display: flex;
  text-align: center;
  padding: 20% 0;
}
.contact-me{
  
  font-size: 3rem;
}

.form-container {
  
  margin: 0 auto;
}

.contact-form label,
.contact-form input,
.contact-form select,
.contact-form textarea {
  
  display: block;
  margin-bottom: 10px;
}
.contact-form label,
.contact-form input,
.contact-form select,
.contact-form textarea {
  
  margin-bottom: 10px;
}

.enviar{
  font-family: 'Poppins', sans-serif;
  background-color: #d5d8d8;
  padding: 5px 20px;
  border-radius: 10px;
}






footer{
  position: block;
  top: 100%;
}

.login-box {
  
  top: 120%;
  width: 70%;
  padding: 10%;
  margin: 2rem 3rem;
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: .7rem;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: .7rem;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03f403;
  font-size: 12px;
}

.login-box form .sumbit {
  position: relative;
  display: inline-block;
  padding: 2% 7%;
  color: #000000;
  border-radius: 10%;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 20%;
  font-family: 'Poppins';
  border: none;
  box-shadow: .5rem .5rem  2rem rgb(0, 0, 0)
}



.login-box .sumbit span {
  position: absolute;
  display: block;
}

.login-box .sumbit span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  border-radius: 20% 10%;
  background: linear-gradient(90deg, transparent, #13eb13);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box .sumbit span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  border-radius: 20% 10%;
  background: linear-gradient(180deg, transparent, #08e61b);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box .sumbit span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  border-radius: 20% 10%;
  background: linear-gradient(270deg, transparent, #04ff04);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box .sumbit span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  border-radius: 20% 10%;
  background: linear-gradient(360deg, transparent, #60eb0f);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

.mensaje{
  color: white;
  width: 5%;
}
textarea{
  width: 100%;
   top: 10%;
   background-color: transparent;
   color: white;
}

.redes{
  display:flex;
  flex-direction: row;
  background-color: #ffffff;
  width: 55%;
  margin-top: 1%;
  margin-bottom: 5%;
  margin-left: 25%;
  transition: all ease .55s;
  border-radius: 1rem 1rem 1rem 1rem;
  
}
.img{
width: 20%;
margin: 4rem ;
border-radius: 6%;
flex-direction: row;
justify-content: start;
background-color:#dd00ff;
border-radius:1rem ;
padding: 2%;
}



@media (min-width:768px) {
body {
  font-family: 'Poppins', sans-serif;
  height: 400%;
  width: 100%;
  font-size: 1.5em;
  overflow-x: hidden;
  background-color: #fbfbfb;
 
}

#gradient
{
 width: 100%;
 height: 400%;
 padding: 0px;
 margin: 0px;
}

  .hero{
    top: 30px;
    width: 40%;
    margin-left: 550px;
    box-shadow:10px 10px 10px grey ;
   
  }

    .navbar-nav{
      align-content: center;
    }
    .redes{
      margin-left: 300px;
    }
    .redes img:hover{
      box-shadow: 16px 10px 48px rgb(189, 196, 189);
      transition: all ease .55s;
      border-radius: 30%;
      
    }
    .navbar-brand{
  
      color:  rgb(0, 0, 0);;
      font-size: 2rem;
      font-family:'Righteous', cursive;
      transition: all ease .55s;
  
  }
  .navbar-brand:hover{
      color: #eeff00;
  }
  .nav-link{
      color: #000000;
      font-size: 15px;
      transition: all ease .55s;
      margin: 10px;
      margin-left: 80px;
  }
  .nav-link:hover{
      align-items: center;
      color: #ff00f7;
      
    }
    .nav-link::active{
      color: #eeff00;
    }

  .redes{
    width: 300px;
    margin: 70px 200px;
    justify-content: space-evenly;
   
  }
  .img{
    background-color: black;
  }

  
  
  
  

    .container {
      margin: -1% 10%;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      background-image: url("/assets/img.jpg");
      background-size: cover;
      background-attachment: fixed; /* Importante para el efecto parallax */
  }
   
  .segundo-container{
    display: flex;
    flex-direction: row;
  }
  .col-12{
    
      font-size: 40px;
      color: linear-gradient(to right,black,yellow);
      font-family: 'Righteous', cursive;
      text-align: center;
      margin: 0 100px;
  }
  .col-12::after {
    content: '|';
    animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
}
 .c-img{
  margin-left: 550px;
  
 }
 .img-code{
  margin: 0 32px;
  width: 300px;
  top: -5rem;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 200px ;
  box-shadow:10px 10px 10px grey ;
  animation: shadowAnimation 10s infinite; 
 }
 /* styles.css */
@keyframes shadowAnimation {
  0% {
      box-shadow: 10px 10px 100px rgb(255, 0, 0);
  }
  25% {
      box-shadow: 10px 10px 100px rgb(92, 235, 92);
  }
  50% {
      box-shadow: 10px 10px 100px rgb(0, 187, 255);
  }
  75% {
      box-shadow: 10px 10px 100px rgb(255, 255, 0);
  }
  100% {
      box-shadow: 10px 10px 100px rgb(226, 3, 255);
  }
}



  

     
      /* Espacio entre la imagen y el texto */
  
  

      .skills {
          position: absolute;
          top: 600px;
          bottom: 10px;
          right: 50px;
      }
      .h2-s{
        margin: 10px;
      }
      .icons{
        width: 420px;
        margin: 0 10px;
        height: 90px ;
        margin: 50px 750px;
        border-radius: 50px 50px 50px 50px;
        display: flex;
        flex-direction: row;
        background-color: #ffffff;
        box-shadow: 10px 10px 50px gray;
        animation: shadowAnimation 10s infinite; 
      }
      .icons-img{
        width: 80px;
        height: 80px;
        margin: 10px;
       
      }
      @keyframes shadowAnimation {
        0% {
            box-shadow: 10px 5px 100px rgb(183, 0, 255);
        }
        25% {
            box-shadow: 10px 10px 100px rgb(187, 187, 187);
        }
        50% {
            box-shadow: 10px 10px 100px rgb(221, 0, 255);
        }
        75% {
            box-shadow: 10px 10px 100px rgb(255, 0, 0);
        }
        100% {
            box-shadow: 10px 10px 100px rgb(226, 3, 255);
        }
      }
      /* Estilos para el fondo ::before */
   
      
    
        
   
       
  .about_me{
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1px;
      margin: 100px;
      justify-content: space-evenly;
      box-shadow: 20px 20px 250px grey;
      border-radius: 80px 80px 80px;
    }
    
   .presentacion-img{
      
      width: 1000px;
      height: 700px;
      
      
    }
    
    
    .about_me-h1{
     text-align: center;
     font-size: 40px;
     color: #dd00ff;
     font-family: 'Poppins';
     font-weight: bold;
    }
    .about_me-h5{
      text-align: center;
      padding: 1%;
      font-size: 20px;
      color: rgb(0, 0, 0);
      font-weight: bold;
    }

 .container-cards{
  margin: 100px;
 }
  .primer-h3{
   margin: 59px 700px;
   
  }
  .h3-p{
    color: #dd00ff;
    font-size: 50px;
  }
  
 .card{
  width: 60%;
  padding: 100px;
  border-radius: 100px 100px 100px ;
  display: flex;
  flex-direction: row;
  margin-left: 400px;
  animation: animation 10s infinite; 
 }
 @keyframes animation {
  0% {
      box-shadow: 10px 5px 50px rgb(183, 0, 255);
  }
  25% {
      box-shadow: 10px 10px 50px rgb(187, 187, 187);
  }
  50% {
      box-shadow: 10px 10px 50px rgb(221, 0, 255);
  }
  75% {
      box-shadow: 10px 10px 50px rgb(255, 0, 0);
  }
  100% {
      box-shadow: 10px 10px 50px rgb(226, 3, 255);
  }
}
 .left{
  padding: 5px;
 }
 .h3-p-2{
 color:#dd00ff;
 font-size: 35px ;

 }

 p{
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 40px;
 }
.c-h4{
  margin: 10px;
}
h4{
  font-weight: bold;
  color:#dd00ff
}
 .icons-img-p{
  width: 40px;
 }


 .right{
 margin-left: 50px;
 
 }
 .container-img{
  padding-top: 10px;
 }
 .grupohydroimg{
  margin-left: 10px;
 }

 .link-p{
  margin-left:100px;
  padding: 50px 50px;
 }
 .link-img{
  margin-left: 50px;
  width: 40px;
 }
 .link-img-github{
  background-color: black;
  border-radius: 50px;
  width: 40px;
  margin-left: 50px;
 }
    
    footer{
      position: block;
      top: 100%;
  }
  
  .login-box {
      
      top: 120%;
      width: 50%;
      padding: 100px;
      margin-left: 400px;
      background: rgba(0,0,0,.5);
      box-sizing: border-box;
      box-shadow: 0 15px 25px rgba(0,0,0,.6);
      border-radius: 10px;
      margin: 50px 500px;
    }
    
    .login-box h2 {
      margin: 0 0 30px;
      padding: 0;
      color: #fff;
      text-align: center;
    }
    
    .login-box .user-box {
      position: relative;
    }
    
    .login-box .user-box input {
      width: 100%;
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      margin-bottom: 30px;
      border: none;
      border-bottom: 1px solid #fff;
      outline: none;
      background: transparent;
    }
    .login-box .user-box label {
      position: absolute;
      top:0;
      left: 0;
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      pointer-events: none;
      transition: .5s;
    }
    
    .login-box .user-box input:focus ~ label,
    .login-box .user-box input:valid ~ label {
      top: -20px;
      left: 0;
      color: #03f403;
      font-size: 12px;
    }
    
    .login-box form .sumbit {
      position: relative;
      display: inline-block;
      padding: 5px 10px;
      color: #000000;
      border-radius: 10%;
      font-size: 1rem;
      text-decoration: none;
      text-transform: uppercase;
      overflow: hidden;
      transition: .5s;
      margin-top: 20px;
      border: none;
      box-shadow: 8px 8px 16px 8px rgb(0, 0, 0)
    }
    
    .login-box .sumbit:hover {
      background: #000000;
      color: #ffffff;
      border-radius: 10% ;
      box-shadow: 0 0 5px #969696,
                  0 0 25px #ffffff,
                  0 0 250px #626363,
                  0 0 100px #000000;
    }
    
    .login-box .sumbit span {
      position: absolute;
      display: block;
    }
    
    .login-box .sumbit span:nth-child(1) {
      top: 0;
      left: -100%;
      width: 100%;
      height: 2px;
      border-radius: 20% 10%;
      background: linear-gradient(90deg, transparent, #13eb13);
      animation: btn-anim1 1s linear infinite;
    }
    
    @keyframes btn-anim1 {
      0% {
        left: -100%;
      }
      50%,100% {
        left: 100%;
      }
    }
    
    .login-box .sumbit span:nth-child(2) {
      top: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      border-radius: 20% 10%;
      background: linear-gradient(180deg, transparent, #08e61b);
      animation: btn-anim2 1s linear infinite;
      animation-delay: .25s
    }
    
    @keyframes btn-anim2 {
      0% {
        top: -100%;
      }
      50%,100% {
        top: 100%;
      }
    }
    
    .login-box .sumbit span:nth-child(3) {
      bottom: 0;
      right: -100%;
      width: 100%;
      height: 2px;
      border-radius: 20% 10%;
      background: linear-gradient(270deg, transparent, #04ff04);
      animation: btn-anim3 1s linear infinite;
      animation-delay: .5s
    }
    
    @keyframes btn-anim3 {
      0% {
        right: -100%;
      }
      50%,100% {
        right: 100%;
      }
    }
    
    .login-box .sumbit span:nth-child(4) {
      bottom: -100%;
      left: 0;
      width: 2px;
      height: 100%;
      border-radius: 20% 10%;
      background: linear-gradient(360deg, transparent, #60eb0f);
      animation: btn-anim4 1s linear infinite;
      animation-delay: .75s
    }
    
    @keyframes btn-anim4 {
      0% {
        bottom: -100%;
      }
      50%,100% {
        bottom: 100%;
      }
    }
    .mensaje{
      color: white;
      width: 5%;
    }
   textarea{
      width: 100%;
       top: 10%;
       background-color: transparent;
       color: white;
    }
  }